.clock {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 2px solid #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: yellow;
    color: blue;
    padding: 5px;
  }
  .weekday {
    position: absolute;
    width: 100%;
    text-align: center;
  }
  
  #sun {
    transform: rotate(0deg) translateY(-50%);
  }
  
  #mon {
    transform: rotate(60deg) translateY(-50%);
  }
  
  #tue {
    transform: rotate(120deg) translateY(-50%);
  }
  
  #wed {
    transform: rotate(180deg) translateY(-50%);
  }
  
  #thu {
    transform: rotate(240deg) translateY(-50%);
  }
  
  #fri {
    transform: rotate(300deg) translateY(-50%);
  }
  
  #sat {
    transform: rotate(360deg) translateY(-50%);
  }
