html{
  background-color: #282828;
}
.clock {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 7px solid #282828;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 2rem;
  box-shadow: -4px -4px 10px rgba(67,67,67,0.5),
                inset 4px 4px 10px rgba(0,0,0,0.5),
                inset -4px -4px 10px rgba(67,67,67,0.5),
                4px 4px 10px rgba(0,0,0,0.3);

}

.weekday {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  font-family: cursive;
  color: #1FF82D;

  
}

#sun {
  transform: rotate(0deg) translateY(-200px);
  /* background-color: red; */
}

#mon {
  transform: rotate(51.43deg) translateY(-200px);
  /* background-color: orange; */
}

#tue {
  transform: rotate(102.86deg) translateY(-200px);
  /* background-color: cyan; */
}

#wed {
  transform: rotate(154.29deg) translateY(-200px);
  /* background-color: green; */
}

#thu {
  transform: rotate(205.71deg) translateY(-200px);
  /* background-color: blue; */
}

#fri {
  transform: rotate(257.14deg) translateY(-200px);
  /* background-color: indigo; */
}

#sat {
  transform: rotate(308.57deg) translateY(-200px);
  /* background-color: violet; */
}

.line {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 1px;
  height: 50%;
  background-color: #B3B1BD;
  transform-origin: top;
  z-index: 1;

}

.line:nth-child(1) {
  transform: translate(-0%, -100%) rotate(0deg);
}

.line:nth-child(2) {
  transform: translate(-50%, -100%) rotate(51.43deg);
}

.line:nth-child(3) {
  transform: translate(-50%, -100%) rotate(102.86deg);
}

.line:nth-child(4) {
  transform: translate(-50%, -100%) rotate(154.29deg);
}

.line:nth-child(5) {
  transform: translate(-50%, -100%) rotate(205.71deg);
}

.line:nth-child(6) {
  transform: translate(-50%, -100%) rotate(257.14deg);
}

.line:nth-child(7) {
  transform: translate(-50%, -100%) rotate(308.57deg);
}

.hand {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 170px;
  background-color: #69A9FF;
  transform-origin: bottom;
  /* transform: translate(-50%, -100%) rotate(0deg);  */
}